# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Desktop\GitHub\5AROB_SISTEMI_E_RETI\CRITTOGRAFIA\ES_004_TEOREMA-EUCLIDE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
